$grey-50: #f9fafb;
$grey-100: #f3f4f6;
$grey-200: #e5e7eb;
$grey-300: #d1d5db;
$grey-400: #9ca3af;
$grey-500: #6b7280;
$grey-600: #4b5563;
$grey-700: #374151;
$grey-800: #1f2937;
$grey-900: #111827;
$primary-50: #f0f5ff;
$primary-100: #dce9fe;
$primary-200: #bed7fe;
$primary-300: #91bcfd;
$primary-400: #5f9dfb;
$primary-500: #3784fb;
$primary-600: #146ffa;
$primary-700: #0562f0;
$primary-800: #0451c8;
$primary-900: #0441a0;
$white: #ffffff;
$dark-blue: #022964;
$green: #5fd788;
$orange: #ff8c39;
$pink: #ec6890;
$purple: #b523fa;
$yellow: #fbae05;
