@import url('https://v1.fontapi.ir/css/SFProDisplay');

* {
  font-family: 'SF Pro Display', sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: auto;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
}

h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0.3px;
}

h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.3px;
}

.xl-medium {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.3px;
}

.l-semi {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.l-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.l-regular {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.m-bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.3px;
}

.m-semi {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
}

.m-medium {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}

.m-regular {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.s-bold {
  font-weight: 700;
  font-size: 12px;
  line-height: 135%;
  letter-spacing: 0.3px;
}

.s-semi {
  font-weight: 600;
  font-size: 12px;
  line-height: 135%;
}

.s-medium {
  font-weight: 500;
  font-size: 12px;
  line-height: 135%;
}

.s-regular {
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
}
